<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>IAnalytics - Oficial</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description"
    content="IAnalytics Corporation, somos una organización comprometida en generar valor a nuestros clientes y aliados">
  <meta name="keywords" content="Tecnology, Blockchain, Artificial Inteligence, Web and Mobile development">
  <meta property="og:image" content="{% static 'img/ianalytics_logo.png' %}">
  <!-- Favicons -->
  <link href="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/img/favicon.ico" rel="icon">
  <link href="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/img/favicon.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- Libraries CSS Files -->
  <link href="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/animate/animate.min.css"
    rel="stylesheet">

  <link
    href="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/owlcarousel/assets/owl.carousel.min.css"
    rel="stylesheet">

  <link href="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/lightbox/css/lightbox.min.css"
    rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/css/style.css" rel="stylesheet">
  <!--Plugin JS IAcerts agregar en la etiqueta "head" <head></head> -->
  <script async src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/js/iacerts.js"></script>
  <!--End IAcert-->
  <style>
    /*estilo a la barra lateral del body general*/
    body::-webkit-scrollbar {
      width: 1em;
    }

    body::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 112, 192, 0.8);
    }

    body::-webkit-scrollbar-thumb {
      background-color: #007aff;
      outline: 0px solid #007aff;
      border-radius: 2px;
    }

    /*Fin de estilo de barra lateral del body*/
  </style>
</head>

<body>
  <!--==========================
  Preloader activar
  <div id="preloader"></div>
  ============================-->


  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://wa.link/u1h4q0" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="https://www.facebook.com/ianalytics" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.linkedin.com/company/ianalyticswww" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
          <a href="https://www.instagram.com/ianalyticsdata/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="float-left">
        <h1 class="text-light"><a href="#" class="scrollto">
            <img src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/logotipos/ialogotipo.png"
              alt="Logotipo Ianalytics" width="11%">
            <span style="color: #ffaa00;">IA</span><span style="color: #007aff;">nalytics</span></a></h1>
        <!--
          <a href="#header" class="scrollto"><img src="{% static 'landing_page/img/ianalyticsfree.png' %}" alt="Ianalytics Logotipo" class="img-fluid"></a> 
        -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/iacerts">Principal</a></li>
          <li><a href="#why-us">Nosotros</a></li>
          <li><a href="#services">Productos</a></li>
          
          <!--
            <li><a href="{% url 'general' %}">Blog</a></li>
            <li><a href="#portfolio">Aliados</a></li>
          -->
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Blockchain, IA<br><span>Innovación!</span></h2>
          <div>
            <a href="#footer" class="btn-get-started scrollto">Contáctanos</a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/logotipos/network3.gif" alt=""
            class="img-fluid" width="100%">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">
    <!--==========================
      Nosotros
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">

        <header class="section-header">
          <h3>Nosotros</h3>
        </header>
        <div class="row">
          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/logotipos/network2.gif" alt=""
                class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              <p align="justify"><b>IANALYTICS CORPORATION S.A.C.</b> somos una empresa peruana desde
                agosto del 2019, dedicada a brindar
                el
                servicio de certificaciones, desarrollo de aplicaciones web, sistemas de tracking,
                aplicación de modelos
                de Machine Learning para mejorar la toma de decisiones e implementación de dashboard
                integrando la
                analítica de datos..</p>

              <div class="features wow bounceInUp clearfix">
                <i class="fas fa-users" style="color: #ffb774;"></i>
                <h4>Nuestro equipo</h4>
                <p align="justify">Contamos con un equipo humano altamente capacitado que trabaja con
                  tecnologías modernas de código
                  abierto, que responden a la nueva dinámica del Big Data, para garantizar la
                  satisfacción de nuestros
                  clientes.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fas fa-gem" style="color: #f058dc;"></i>
                <h4>Nuestro propósito</h4>
                <p align="justify">Entregar los mejores servicios tecnológicos en la creación valor a
                  las organizaciones usando nuevas
                  tecnologías y considerando un enfoque humanista hacia nuestros clientes.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fas fa-heart" style="color: #f15865;"></i>
                <h4>Nuestros valores</h4>
                <p>Compromiso,
                  Sinceridad,
                  Trasparencia,
                  Escucha activa,
                  Humanistas,
                  Responsables,
                  Ética
                </p>
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="container">
        <div class="row counters">
          <!--
                      <div class="col-lg-4 col-6 text-center">
                        <span data-toggle="counter-up">6</span>
                        <p>Clientes</p>
                    </div>
                    <div class="col-lg-4 col-6 text-center">
                        <span data-toggle="counter-up">5</span>
                        <p>Proyectos</p>
                    </div>
-->
          <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">5,364</span>
            <p>Horas de soporte</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Team Section
    ============================-->
    <!--
      <section id="team" class="section-bg">
        <div class="container">
          <div class="section-header">
            <h3>Team</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="{% static 'landing_page/img/team-1.jpg' %}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="{% static 'landing_page/img/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="member">
                <img src="{% static 'landing_page/img/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="member">
                <img src="{% static 'landing_page/img/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
    -->
    <!-- #team -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Productos</h3>
          <p>Nuestros productos en producción y desarrollo.</p>
        </header>
        <div class="row">
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"> <img
                  src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/logotipos/ia.png" alt="ia"
                  width="80%"> </div>
              <h4 class="title"><a onclick="return false;" href="#">IA-Psycomeet</a></h4>
              <p class="description">Plataforma psicológica con un sistema de
                medición de más de 40 competencias o atributos psicológicos. <b>(Muy pronto)</b>.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><img
                  src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/logotipos/ia3.png" alt="ia"
                  width="80%"></div>
              <h4 class="title"><a target="_blank" href="https://iacerts.com/nosotros/">IA-certs</a></h4>
              <p class="description">Plataforma web que permite crear certificados personalizados, enviar
                masivamente y
                validar los certificados de forma rápida y segura.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><img
                  src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/logotipos/ia2.png" alt="ia"
                  width="80%"> </div>
              <h4 class="title"><a onclick="return false;" href="#">IA-Secure</a></h4>
              <p class="description">Plataforma de contratos inteligentes usando blockchain para realizar
                transacciones C2C y B2B. <b>(En
                  desarollo)</b>.</p>
            </div>
          </div>



        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Features Section
    ============================-->
    <!--
      <section id="features">
      <div class="container">

        <div class="row feature-item">

          <div class="col-lg-6 wow fadeInUp">
            <img src="{% static 'landing_page/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
            <p>
              Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis
              occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
            </p>
            <p>
              Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt
              veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
            </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="{% static 'landing_page/img/features-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
            <p>
              Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo
              qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis
              beatae incidunt sunt.
            </p>
            <p>
              Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias.
              Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
            </p>
            <p>
              Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga
              mollitia exercitationem nam accusantium provident quia.
            </p>
          </div>

        </div>

      </div>
    </section>
    -->

    <!-- #about -->

    <!--==========================
      Portfolio Section
    ============================-->
    <!--
      <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Nuestros clientes y aliados</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">General</li>
              <li data-filter=".empresas">Empresas</li>
              <li data-filter=".universidades">Universidades</li>
              <li data-filter=".colegios">Colegios</li>
            </ul>
          </div>
        </div>



        <div class="row portfolio-container">
          {% if organizaciones %}
          {% for organizacion in organizaciones %}
          <div class="col-lg-3 col-md-3 portfolio-item {{organizacion.tipo}}">
            <div class="portfolio-wrap">
              <img src="{{organizacion.logotipo}}" class="img-fluid" alt="{{organizacion.nombre}}">
              <div class="portfolio-info">
                <h4><a href="{{organizacion.url}}" target="_blank">{{organizacion.nombre}}</a></h4>
                <p>{{organizacion.descripcion}}</p>
                <div>
                  <a href="{{organizacion.logotipo}}" data-lightbox="portfolio" data-title="{{organizacion.nombre}}"
                    class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
                  <a href="{{organizacion.url}}" target="_blank" class="link-details" title="More Details"><i
                      class="fa fa-globe"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>

      </div>
    </section>
    -->

    <!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->

    <!--
      <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Testimonios</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">

              <div class="testimonial-item">
                <img src="{% static 'landing_page/img/testimonial-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                  quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{% static 'landing_page/img/testimonial-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                  quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{% static 'landing_page/img/testimonial-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                  tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="{% static 'landing_page/img/testimonial-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                  minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section>
    -->

    <!-- #testimonials -->



    <!--==========================
      Clients Section
    ============================-->
    <!--
      <section id="clients" class="wow fadeInUp">
      <div class="container">
        <header class="section-header">
          <h3>Nuestros Clientes</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="{% static 'landing_page/img/clients/client-1.png' %}" alt="">
          <img src="{% static 'landing_page/img/clients/client-2.png' %}" alt="">
          <img src="{% static 'landing_page/img/clients/client-3.png' %}" alt="">
          <img src="{% static 'landing_page/img/clients/client-4.png' %}" alt="">
          <img src="{% static 'landing_page/img/clients/client-5.png' %}" alt="">
          <img src="{% static 'landing_page/img/clients/client-6.png' %}" alt="">
          <img src="{% static 'landing_page/img/clients/client-7.png' %}" alt="">
          <img src="{% static 'landing_page/img/clients/client-8.png' %}" alt="">
        </div>

      </div>
    </section>
    -->

    <!-- #clients -->


    <!--==========================
      Pricing Section
    ============================-->

    <!--
      <section id="pricing" class="wow fadeInUp section-bg">
      <div class="container">
        <header class="section-header">
          <h3>Pricing</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </header>

        <div class="row flex-items-xs-middle flex-items-xs-center">

          <div class="col-xs-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>19<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Basic Plan
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">Odio animi voluptates</li>
                  <li class="list-group-item">Inventore quisquam et</li>
                  <li class="list-group-item">Et perspiciatis suscipit</li>
                  <li class="list-group-item">24/7 Support System</li>
                </ul>
                <a href="#" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>

          
          <div class="col-xs-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>29<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Regular Plan
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">Odio animi voluptates</li>
                  <li class="list-group-item">Inventore quisquam et</li>
                  <li class="list-group-item">Et perspiciatis suscipit</li>
                  <li class="list-group-item">24/7 Support System</li>
                </ul>
                <a href="#" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>

          
          <div class="col-xs-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>39<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Premium Plan
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">Odio animi voluptates</li>
                  <li class="list-group-item">Inventore quisquam et</li>
                  <li class="list-group-item">Et perspiciatis suscipit</li>
                  <li class="list-group-item">24/7 Support System</li>
                </ul>
                <a href="#" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    -->
    <!-- #pricing -->

    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <!--
      <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Preguntas frecuentes:</h3>
          <p>Hemos listado las preguntas frecuentes de nuestros clientes</p>
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i
                class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus
              a pellentesque? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit
              pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
                integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in
              nulla? <i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et
              tortor consequat? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel
              pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>
            <div id="faq6" class="collapse" data-parent="#faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada
                nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
                tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas
                fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section>
    -->
    <!-- #faq -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-newsletter">
              <h4 class="mb-0">IAnalytics Corporation</h4>
              <span class="text-justify">Trabajamos con tecnologías modernas de código abierto, que
                responden a la
                nueva dinámica del Big
                Data, para garantizar la satisfacción de nuestros clientes.</span>
            </div>
            <div class="footer-info">
              <img src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/logotipos/ianalytics.png"
                alt="IAnalytics Logotipo" width="25%">
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-links">
              <h4>Enlaces más usados</h4>
              <ul>
                <li><a href="#">Principal</a></li>
                <li><a href="#why-us">Nosotros</a></li>
                <li><a href="#services">Proyectos</a></li>
                <li><a target="_blank" href="https://iacerts.com/terminos/servicio">Términos de
                    servicio</a></li>
                <li><a target="_blank" href="https://iacerts.com/politicas/privacidad">Política de
                    privacidad</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-links">
              <p>
                Jr. Huáscar 2020 <br>
                Jesús María, Lima - Perú<br>
                <strong>Teléfono:</strong> 997153705-978899647<br>
                <strong>Correo:</strong> ianalyticsdatapower@gmail.com<br>
              </p>
            </div>

            <div class="social-links">
              <a href="https://wa.link/u1h4q0" target="_blank"><i class="fab fa-whatsapp"></i></a>
              <a href="https://www.facebook.com/ianalytics" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/company/ianalyticswww" target="_blank"><i
                  class="fab fa-linkedin-in"></i></a>
              <a href="https://www.instagram.com/ianalyticsdata/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright" id="date_year">
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/jquery/jquery.min.js"></script>
  <script
    src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/jquery/jquery-migrate.min.js"></script>
  <script
    src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/easing/easing.min.js"></script>
  <script src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/mobile-nav/mobile-nav.js"></script>
  <script src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/wow/wow.min.js"></script>
  <script
    src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/waypoints/waypoints.min.js"></script>
  <script
    src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/counterup/counterup.min.js"></script>
  <script
    src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/owlcarousel/owl.carousel.min.js"></script>
  <script
    src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/isotope/isotope.pkgd.min.js"></script>
  <script
    src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="https://static-media-files-ianalytycs.sfo3.digitaloceanspaces.com/js/main.js"></script>


  <script>
    $(document).ready(function () {
      var fecha = new Date();
      var anio = fecha.getFullYear();
      $(document).ready(function () {
        document.getElementById('date_year').innerHTML = `Copyright © <b>${anio} - IAnalytics Corporation</b> - Todos los derechos reservados.`
      });
    });
  </script>
</body>

</html>